@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  font-family: "Roboto", "Times New Roman", Times, serif !important;
}

@import "~@angular/material/theming";
@include mat-core();

$heroes-app-primary: mat-palette($mat-orange);
$heroes-app-accent: mat-palette($mat-blue, A200, A100, A400);
$heroes-app-warn: mat-palette($mat-red);
$heroes-app-theme: mat-light-theme(
  $heroes-app-primary,
  $heroes-app-accent,
  $heroes-app-warn
);

@include angular-material-theme($heroes-app-theme);
